* {
   margin: 0;
   padding: 0;
}


body
{
    font-size: 16px;
    background-image: url("../image/dodoro2.jpg");
    background-size:cover;
}

.container
{
    width: 100%;
    margin-right: auto;
    margin-left: auto;   
}

header
{
    height: 130px;
    background-repeat: no-repeat;
}

header h1  /*標題 人名*/
{
    font-size: 54px;
    color: #012172;
    padding-left: 20px;
    padding-bottom: 10px;
    text-align: center;
    border-radius:10px;
    margin: 20px 0px 20px 10px ; /*上 右 下 左*/
    width: 600px ;
    height:auto;
    border:5px #ffffff solid;
    box-shadow:3px 3px 12px #cccccc;
    background-color :#05acd3;
    font-family: 'Gloria Hallelujah', cursive;
    text-shadow : 3px 3px 3px #cccccc;
  
}

 h2  /*小標 about me*/
{
    font-size:48px;
    text-align: center;
    color: #f1f2f3;
    border-radius:20px;
    padding-bottom:10px;
    margin-top:20px;
    margin-left:20px;
    margin-bottom:40px;
    width:500px;
    box-shadow:3px 3px 12px gray;
    background-color :	#81a3a7;
    font-family:monospace;
}
a
{
    margin-left: 10px ;
    padding-right:50px;
    float: left;
}
p
{
    margin-left: 50px ;
    margin-top:48px;
    line-height:50px;
    font-family: 'Pangolin', cursive;
    font-weight:bold;
    font-size: 26px;
    
}




