* {
   margin: 0;
   padding: 0;
}


body
{
    font-size: 16px;
    background-image: url("../image/likeyback.jpg");
    background-size:cover;
}

.container
{
    width: 100%;
    margin-right: auto;
    margin-left: auto;   
}


 #menu ul{
  list-style:left;
  margin-top: 10px; 

  margin-left: 50px;
  }

  #menu ul li{
  margin:25px 100px 0px 0px;
  font-family: 'Gloria Hallelujah', cursive;
  list-style:none;
  }
  #menu ul p{
  margin:25px 100px 0px 0px;
  color: black;
  padding-top: 5px; 
  font-size:24px;
  line-height: 35px;
  font-family: Microsoft JhengHei, serif;
  }
  #menu ul h3{
  padding-top: 5px;
  padding-bottom: 5PX;
}

h1 {
    font-size: 42px;
    text-align: center;
    width: 200px;
    height: 80px;
    background: #ff9933;
    position: relative;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}
  
h1:before {
    content: "";
    width: 0;
    height: 0;
    right: 100%;
    top: 30px;
    position: absolute;
    border-top: 13px solid transparent;
    border-right: 26px solid #ff9933;
    border-bottom: 13px solid transparent;
}      

h2 {
    font-size: 42px;
    text-align: center;
    width: 300px;
    height: 80px;
    background: #ff9933;
    position: relative;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}
  
h2:before {
    content: "";
    width: 0;
    height: 0;
    right: 100%;
    top: 30px;
    position: absolute;
    border-top: 13px solid transparent;
    border-right: 26px solid #ff9933;
    border-bottom: 13px solid transparent;

} 
p2{
    font-size: 12px;
    font-family: cursive;
    font-weight: bold;
}

