* {
   margin: 0;
   padding: 0;
}


body
{
    font-size: 16px;
    background-image: url("../image/tipback.jpg");
    background-size:cover;
}

.container
{
    width: 100%;
    margin-right: auto;
    margin-left: auto;   
}

header
{
    height: 100px;
    background-repeat: no-repeat;
}


header h1
{
    font-size: 5rem;
    color: #A7414A;
    padding-top: 5px; 
    text-align: center;
    border-radius:10px;
    margin-top:25px;
    margin-left: 10px;
    width:900px;
    /*border:5px #77FFCC solid;
    box-shadow:3px 3px 12px #DDDDDD;
    background-color :#77FFCC; */
}
article
{
    margin: 0 0 0 20px;
    line-height:36px;
}
article h2
{
    font-size:36px;
    padding-top: 5px;
    text-align: center;
    color: white;
    border-radius:10px;
    margin-top:20px;
    width:300px;
    height: 45px;
    border:2px 	#F4E3B1 solid;
    box-shadow:3px 3px 12px gray;
    background-color :	#5398D9;
    font-family: Microsoft JhengHei, serif;
}
article p
{
    font-size:24px;
    margin-top:20px;
    line-height:40px;
    font-family: Microsoft JhengHei, serif;
    font-weight: 800;
}
pre {
    font-size:24px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}